<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>342330085837-8ginc71452df625cqoctimng6gld6aov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342330085837-8ginc71452df625cqoctimng6gld6aov</string>
	<key>API_KEY</key>
	<string>AIzaSyD2M6yfnK0XlenTe_gtrkZE12czVXkt4YE</string>
	<key>GCM_SENDER_ID</key>
	<string>342330085837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.waproject.base</string>
	<key>PROJECT_ID</key>
	<string>waproject-a73b8</string>
	<key>STORAGE_BUCKET</key>
	<string>waproject-a73b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342330085837:ios:5cda999b7c089e6c</string>
	<key>DATABASE_URL</key>
	<string>https://waproject-a73b8.firebaseio.com</string>
</dict>
</plist>